<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="text-center text-danger m-4">Add Contact</h1>
			
			<p style="text-align: justify;">A contact management system records interactions between a company and its customers or prospects, supply chain partners, or other contacts. Call date tracking, notes files, follow-up reminders, birthday or anniversary date reminders, and other mechanisms to give systematic means to begin and track engagement over time are common functions. The act of keeping, organizing, and managing information about your customers, prospects, and sales leads is known as contact management. In its most basic form, you may manage your contact data with an address book or an Excel or Google spreadsheet that includes entries for everyone with whom you do business. </p>
			
			</div>
	</div>

	<div class="container contactContainer">

		<div class="row">
			<div class="col-6">
				<form class="contactForm">
					<div class="mb-3">
					  <label for="contactName" class="form-label">Enter Contact Name</label>
					  <input type="text" class="form-control" id="contactName" >
					
					<div class="mb-3">
					  <label for="photoURL" class="form-label">Enter Contact Photo URL</label>
					  <input type="text" class="form-control" id="photoURL">
					</div>

					<div class="mb-3">
						<label for="Email" class="form-label">Enter Contact Email</label>
						<input type="email" class="form-control" id="Email">
					  </div>

					  <div class="mb-3">
						<label for="contactNumber" class="form-label">Enter Contact Number</label>
						<input type="number" class="form-control" id="contactNumber">
					  </div>
					  <div class="mb-3">
						<label for="photoURL" class="form-label">Enter Contact Photo URL</label>
						<input type="text" class="form-control" id="photoURL">
					  </div>
					  <div class="mb-3">
						<label for="contactCompany" class="form-label">Enter Contact Company Name</label>
						<input type="text" class="form-control" id="contactCompany">
					  </div>
					  <div class="mb-3">
						<label for="contactTitle" class="form-label">Enter Contact Title</label>
						<input type="text" class="form-control" id="contactTitle">
					  </div>
					  <div class="mb-3">
						<select class="form-control">
							<option value="" selected hidden disabled>Select</option>
							<option value="">Family</option>
							<option value="">Friends</option>
							<option value="">Company</option>
						</select>
					  </div>
				
					<input type="submit" value="create" class="btn btn-success mt-4">
				<a routerLink="/" class="btn btn-danger mx-5 mt-4">Go Back</a>
					</div>
					</form>
			</div>
			<div class="col-6">

			</div>
		</div>

	</div>
</div>